.gebruikerScreen {
  width: 82vw;
  height: 92vh;
  float: right;
  z-index: 100;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../../shared/BG/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gebruikerScreen__container {
  background-color: white;
  border-radius: 10px;
  margin: 90px auto;
  width: 60%;
  padding-top: 35px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 165px;
}

.gebruikerScreen__container h2 {
  font-weight: 300;
  margin-bottom: 15px;
}

.gebruikerScreen__container h6 {
  color: #868585;
  font-size: 1rem;
  font-weight: 300;
}

.gebruikersScreen__users {
  margin-top: 35px;
}

.gebruikersScreen__users__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.gebruikersScreen__users__header h4 {
  font-weight: 300;
  font-size: 1.5rem;
}

.gebruikersScreen__users li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.user__info {
  display: flex;
  align-items: center;
}

.user__info img {
  padding-right: 15px;
}
