/* Import Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

/* Kleuren opgeslagen in variabelen */
:root {
  --main-color: #4528d5;
  --color-dark: #3a3a3a;
  --color-greyLight: #d8d7d7;
  --color-greyDark: #707070;
}

/* Wat we vanaf het begin willen toepassen denk aan margin reset font-family etc */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
